
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<!doctype html>
<html lang="en">
<body>


    @Html.Action("PartialAboutBanner")

    @Html.Action("PartialAboutSection")


    @Html.Action("PartialVideo")
   

    @Html.Action("PartialHireMe")


    @Html.Action("PartialReferences")


</body>
</html>