
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!doctype html>
<html lang="en">


<body>

    @Html.Action("PartialFeature")

    <div id="about">
        @Html.Action("PartialAbout")
    </div>

    @Html.Action("PartialService")

    @Html.Action("PartialTech")

    @Html.Action("PartialCounter")

    <div id="projects">
        @Html.Action("PartialProjects")
    </div>

    @Html.Action("PartialBrands")





    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>

</body>
</html>